.header {
    padding: 5px;
    text-align: center;
    background: #6484bc;
    color: white;
    font-size: 20px;
}
.redirect {
    padding:5px;
    
}
/*
Mostly for main menu page
 */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
    row-gap: 10px;
    padding: 10px;
}

.grid-item {
    border: 2px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.testing {
    font-size: 200px;
}

.review {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 5px;
    font-size: 15px;
    margin-bottom: 5px;
    text-align: center;
}

.profileRedirect {
    display: inline-block;
    align-content: end;
    width: 50px;
}

.profilePic {
    font-size: 15px;
}

.reviewSelect {
    height: 150px;
}

.option {
    width: fit-content;
    padding: 5px;
}

.login {
    padding-top: 200px;
    display: block;
    text-align: center;
}

.loginForm {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}